.help-container {
    position: fixed;
    top: 60%;
    left: -75px;
    transform: translateY(-50%);
    transition: left 0.3s;
    cursor: pointer;
    z-index: 99999999999;
}
.help-content {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.help-content div:first-child {
    margin-right: 10px;
    white-space: nowrap;
}
.help-container:hover {
    left: 0;
}

.slds-modal__container {
    width: 75%;
    max-width: 65rem;
}

.fixed-left {
    position: fixed;
    top: 62%;
    left: -10px;
    width: 420px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 11px;
}

.fixed-left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
}

.fixed-left-close {
    cursor: pointer;
}

.fixed-left-content {
    padding: 1rem;
}

.datatable-container {
    max-height: 200px;
    overflow-y: auto;
}

#datatable-container table {
    width: 100%;
    border-collapse: collapse;
}
#datatable-container th, #datatable-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#datatable-container th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}